<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <app-header></app-header>
    <div id="container">
        <div id="content">
        <div id="galleryContainer">
            <div><img src="https://image.cnbcfm.com/api/v1/image/104542915-jeff-bezos-amazon.jpg?v=1529475458"/></div>
            <div><img src="https://s.wsj.net/public/resources/images/BN-TF125_2Mapp_M_20170428185629.jpg"/></div>
            <div><img src="https://images.thequint.com/thequint%2F2021-08%2Fd0efa65d-d530-4dce-974f-4441e4857cc9%2Fthequint_2019_10_dd44642b_9fee_4224_9650_e959aed2eb57_facebook.jpeg?rect=0%2C0%2C1024%2C576"/></div>
            <div><img src="https://image.cnbcfm.com/api/v1/image/104800125-GettyImages-681557990.jpg?v=1573450585"/></div>
            <div><img src="https://images.news18.com/ibnlive/uploads/2021/07/1626143794_untitled-design.jpg"/></div>
            <div><img src="https://img.republicworld.com/republic-prod/stories/promolarge/xhdpi/tfjjn03tjnc2nqxs_1622712140.jpeg"/></div>
        </div>
    </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
